@model Parinay.Models.student
@{
    ViewBag.Title = "About";
}

<form action="/Home/About" method="POST">
    <table>
        @Html.HiddenFor(model => model.Id)
        @Html.HiddenFor(model => model.isActive)
        <tr>
            <td>Name : </td>
            <td>
                @Html.TextBoxFor(model => model.Name)
            </td>
        </tr>
        <tr>
            <td>Email : </td>
            <td>
                @Html.TextBoxFor(model => model.Email, new { @type = "email" })
            </td>
        </tr>
        <tr>
            <td>DOB : </td>
            <td>
                @Html.TextBoxFor(model => model.DOB, new { @type = "datetime-local" })
            </td>
        </tr>
        <tr>
            <td colspan="2">
                <button type="submit">
                    Submit
                </button>
                <button type="reset">
                    Clear
                </button>
            </td>
        </tr>

    </table>
</form>
